body {
    padding: 0;
    margin: 0;
    background: linear-gradient(135deg, #2e7d32, #81c784);
    min-height: 100vh;
}
header{
    display: flex;
    align-items: center;
    gap: 38%;
}

header img{
    height: 120px;
}

header h3{
    font-size: 2.oem;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}
/* End Header */

/* Hero Banner */
.hero{
    background-image: url(../../assets/images/yosemite/pexels-abdus-samad-mahkri-1624305361-33857977.jpg);
    width: 100vw;
    height: 350px;
    background-size: cover;
    backdrop-filter: blur(8px) brightness();
    display: flex;
    flex-direction: row-reverse;
     align-items: center;
}

.hero p {
    width: 30vw;
    margin: 20px;
    color: white;
    text-shadow: 1px 2px 2px black;
   
}
/* End Hero Banner */

/* Informaion area */

.informationArea {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.rowItem {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
}

.reversed {
    flex-direction: row-reverse;
}

.rowItem img {
    flex: 2;
    max-height: 250px;
    object-fit: cover;
}

.rowItem p, .rowItem li {
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-shadow: 1px 2px 4px rgba(0 ,0 ,0 ,0.5);
}


/* END Informaion area */