body{
    padding: 0;
    margin: 0;
    background: linear-gradient(135deg, #2e7d32, #81c784);
    min-height: 100vh;
}
/* Header */

header {
    display: flex;
    align-items: center;

}

header img{
    height: 100px;
    gap: 50%;
}


header h3{
font-size: 2.0em;
color: white;
font-family: "Segoe UI", Tahoma, 'Geneva', Verdana, sans-serif; 
}

/* End Header */

/* Hero Banner */

.hero {
    background-image: url('../../assets/images/The Great Sand Dunes/Sand Dunes 1.jpg');
    width: 100vw;
    height: 350px;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


.hero p {
    width: 30vw;
    margin: 20px;
    color: white;
    text-shadow: 1px 2px 2px black;
}



/* End Hero Banner */